<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>Books</h2>

<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <%= link_to book_path(book.id) do %>
  <%= book.title %>
  <% end %>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>

<!--プロフィール-->
<h1>User info</h1>
<p><%= image_tag current_user.get_profile_image(100,100) %></p>
<p>name <%= current_user.name %></p>
<p>introduction <%= current_user.introduction %></p>

<!--プロフィール編集-->
<p><%= link_to "編集", edit_user_path(current_user.id) %></p>

<%= render 'list', book: @book %>

